.move_x:before {
  content: "x";
}

.move_o:before {
  content: "o";
}





td {

}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

}

th {
  text-align: left;
}

td {
  font-size: 100px;
  text-align: center;
  width: 200px;
  height: 200px;
  border: black 2px solid;
}
