.move_x:before {
  content: url('/images/jkai/jkai1.png');

  
}

.move_o:before {
  content: url('/images/jkai/jkai2.png');
  
}

.container {
  margin: 20px auto;
  width: 900px;
  padding: 20px 20px 20px 20px;

}

body {
  background: #FF7796;
  background-image: url('/images/hellokitty.jpg'); 
  background-repeat:no-repeat;
  background-position:center; 
}

th {
  text-align: left;
}

td {
  background-color: #90FEC0;
  
  text-align: center;
  width: 284px;
  height: 284px;
  color: #F35C78;
  border-radius: 10px;

}

table{
    border-collapse: separate;
    border-spacing: 10px;
}

.move_x:after {
  background-color: #BDDAAD;
}

.move_o td {
  background-color: #E88D89;
}
