<div class="container">
  <table>
    <th colspan="3">
      <!-- <img src="/images/tick.jpg" />
      <img src="/images/tack.gif" />
      <img src="/images/jkai/jkai1.png" /> -->
    </th>
    <tr>
      <td class="nil"></td>
      <td class="nil"></td>
      <td class="nil"></td>
    </tr>
    <tr>
      <td class="nil"></td>
      <td class="nil"></td>
      <td class="nil"></td>
    </tr>
    <tr>
      <td class="nil"></td>
      <td class="nil"></td>
      <td class="nil"></td>
    </tr>

  </table>
</div>
